<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Auto Attendance Monitoring</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
        {% block content %}
        {% endblock %}
</body>
</html>